@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist-VariableFont_wght.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

body {
    background-color: #0D0D10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.6rem;
}

img {
    height: 12.3rem;
    width: 12.3rem;
    border-radius: 50%;
    user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

h1 {
    font-family: "Geist";
    color: #F3F3F5;
    font-weight: 600;
    margin-bottom: 0.3rem;
    font-size: 2.15rem;
    margin-top: 0.9rem;
}

.hero div {
    font-family: "Geist";
    color: #7E7E8C;
    font-weight: 400;
    font-size: 1.05rem;
}

.hero a {
    font-weight: "Geist";
    color: #FF7EB6;
    font-weight: 400;
    text-decoration: none;
    transition: color 150ms ease;
}

.hero a:hover {
    color: #FF98C7;
    text-decoration: underline;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc a {
    font-family: "Geist";
    color: #F3F3F5;
    font-weight: 500;
    font-size: 1.1rem;
    background-color: #17171C;
    border: 1px solid #31313B;
    border-radius: 10px;
    box-shadow:
	0 0 0 1px rgba(255,255,255,.02),
	0 12px 25px rgba(0,0,0,.35);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    width: 37rem;
    max-width: calc(100vw - 1rem);
    justify-content: center;
    padding-top: 0.43rem;
    padding-bottom: 0.43rem;
    transition: color 150ms ease;
    margin-bottom: 0.8rem;
}

.desc a:hover {
    border: 1px solid #FF7EB6;
}

.desc img {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0;
    object-fit: contain;
}
